*.o
*.a
*.so
_obj
_test
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.exe~
*.test
*.prof
*.rar
*.zip
*.gz
*.psd
*.bmd
*.cfg
*.pptx
*.log
*nohup.out
*.sublime-project
*.sublime-workspace
_*
.DS_Store
.idea
.vscode

socket/example/client
socket/example/server

examples/*/*_server
examples/*/*_mserver
examples/*/*_client
examples/*/*_mclient
examples/ab/frame_client_ab
/examples/proxy_and_seq/proxy_and_seq
/examples/plugin-tps/tps
/proto/rawproto/rawproto_test
/proto/httproto/httproto_test
/proto/jsonproto/jsonproto_test
/xfer/md5/md5_test
/proto/pbproto/pbproto_test
/proto/thriftproto/thriftproto_test
/mixer/evio/bench/evio_bench_client
/mixer/evio/bench/evio_bench_server
/mixer/evio/evio_test
/mixer/multiclient/multiclient_test
/mixer/websocket/websocket_test
/plugin/auth/auth_test
/plugin/binder/binder_test
/plugin/heartbeat/heartbeat_test
/plugin/ignorecase/ignorecase_test
/plugin/overloader/overloader
/plugin/secure/secure_test
/erpc_test
